@import url("https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
.sideBarContainer {
	background-color: #e7e7e7;
	height: 50px;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	padding-left: 30px;
	padding-right: 30px;
	align-items: center;
}
.logoAndTitle {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.logo {
	width: 50px;
	height: 60px;
}
.title {
	font-size: 20px;
	margin-top: 15px;
	color: #3a62d7;
	text-shadow: 2px 2px 6px rgba(58, 98, 215, 0.6);
	font-weight: 500;
	font-family: "Avera Libre";
}
.navLink {
	width: 95%;
	height: 40px;
	background-color: #ffffff;
	border-radius: 20px;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
.navLink:hover {
	background-color: #3a62d7;
	box-shadow: 2px 2px 6px rgba(58, 98, 215, 0.6);
}
.navLink.active {
	background-color: #3a62d7;
	box-shadow: 2px 2px 6px rgba(58, 98, 215, 0.6);
	color: #ffffff;
}
.link {
	width: 100%;
	height: 100%;
	font-size: 16px;
	text-decoration: none;
	color: #3a62d7;
	align-items: center;
	display: flex;
	justify-content: center;
}
.link:hover {
	color: #ffffff;
}
