@import url("https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
.timeTableDetailBody {
	width: 100vw;
	/* background-color: aqua; */
	display: flex;
	flex-direction: column;
	height: 90vh;
	/* justify-content: center; */
	align-items: center;
}
.timeTableDetailPageTitleContainer {
	width: 100%;
	height: 60px;
	/* background-color: rgb(242, 242, 255); */
	align-items: center;
	justify-content: center;
	display: flex;
}
.timeTableDetailPageTitle {
	font-family: "Avera Libre";
	color: #3a62d7;
	text-shadow: 2px 2px 6px rgba(58, 98, 215, 0.6);
}
.timeTableDetailClassPickerContainer {
	width: 100%;
	height: 50px;
	align-items: center;
	display: flex;
	justify-content: start;
	padding-right: 50px;
	margin-top: 25px;
}
.timeTableDetailClassTitle {
	font-family: "Avera Libre";
	color: #000000;
	text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
	margin-top: 17px;
	margin-right: 5px;
}
.timeTableDetailPlayground {
	width: 100%;
	height: 90%;
	overflow: auto;
	/* display: flex; */
	/* background-color: rgb(77, 87, 87); */
}
.timeTableDetailStudentInfo {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 40px;
}
.timeTableDetailStudentInfoColoum {
	width: 33%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.timeTableDetailDeleteButton {
	width: 30%;
	height: 40px;
	background-color: red;
	border-radius: 20px;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
	border-width: 0px;
	color: white;
}
.timeTableDetailDeleteButton:hover {
	box-shadow: -2px -2px 6px rgba(0, 0, 0, 0.6);
}
