@import url("https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
.hifzInputMarksBodyContainer {
	width: 200px;
	height: 70px;
}
.hifzInputMarksDate {
	font-family: "Avera Libre";
	color: #000000;
	text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}
.hifzInputMarksTitleAndInputContainer {
	height: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: -10px;
	background-color: white;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
	border-radius: 20px;
	padding-left: 20px;
	padding-right: 20px;
	justify-content: space-between;
	padding-top: 15px;
}
