@import url("https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
.notificationDetailBody {
	width: 100vw;
	/* background-color: aqua; */
	display: flex;
	flex-direction: column;
	height: 90vh;
	/* justify-content: center; */
	align-items: center;
}
.notificationDetailPageTitleContainer {
	width: 100%;
	height: 60px;
	/* background-color: rgb(242, 242, 255); */
	align-items: center;
	justify-content: center;
	display: flex;
}
.notificationDetailPageTitle {
	font-family: "Avera Libre";
	color: #3a62d7;
	text-shadow: 2px 2px 6px rgba(58, 98, 215, 0.6);
}
.notificationDetailPlayground {
	width: 100%;
	height: 100%;
	overflow: auto;
}
.notificationDetailNotificationInfo {
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;

	display: flex;
	flex-direction: column;
}

.notificationDetailDeleteButton {
	width: 30%;
	height: 40px;
	border-radius: 30px;
	border-width: 0.1px;
	border-color: rgb(162, 162, 162);
	background-color: red;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
	margin: 10px;
	margin-top: 50px;
	color: black;
}
.notificationDetailDeleteButton:hover {
	box-shadow: -2px -2px 6px rgba(0, 0, 0, 0.6);
}
.NotificationListClassPickerContainer {
	width: 100%;
	height: 50px;
	align-items: center;
	display: flex;
	justify-content: start;
	padding-left: 50px;
}
.NotificationListClassTitle {
	font-family: "Avera Libre";
	color: #000000;
	text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
	margin-top: 17px;
	margin-right: 5px;
}
.notificationDetailInputContainer {
	padding-left: 50px;
	padding-right: 50px;
}
.notificationDetailInput {
	height: 200px;
	width: 100%;
	margin-top: -10px;
	background-color: white;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
	border-radius: 20px;
	padding-left: 10px;
	padding-right: 10px;
	border-width: 0.3px;
	border-color: gray;
}
.notificationDetailEditButton {
	border-width: 0px;
	background-color: white;
}
.notificationDetailEditButtonIcon {
	width: 20px;
	height: 20px;
}
