@import url("https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
.inputBodyContainer {
	width: 300px;
	height: 70px;
}
.inputTitle {
	font-family: "Avera Libre";
	color: #000000;
	text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}
.inputTitleAndInputContainer {
	height: 35px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: -10px;
	background-color: white;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
	border-radius: 20px;
	padding-left: 10px;
	padding-right: 10px;
}
.inputContainer {
	width: 270px;
	border-width: 0px;
}
.inputIcon {
	width: 20px;
	height: 20px;
}
