@import url("https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
.expenseDetailBody {
	width: 100vw;
	/* background-color: aqua; */
	display: flex;
	flex-direction: column;
	height: 90vh;
	/* justify-content: center; */
	align-items: center;
}
.expenseDetailPageTitleContainer {
	width: 100%;
	height: 60px;
	/* background-color: rgb(242, 242, 255); */
	align-items: center;
	justify-content: center;
	display: flex;
}
.expenseDetailPageTitle {
	font-family: "Avera Libre";
	color: #3a62d7;
	text-shadow: 2px 2px 6px rgba(58, 98, 215, 0.6);
}
.expenseDetailPlayground {
	width: 100%;
	height: 90%;
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* background-color: rgb(77, 87, 87); */
}
.expenseDetailPurposeInputOutterContainer {
	width: 90%;
	height: 100px;
}
.expenseDetailPurposeInputTitle {
	font-family: "Avera Libre";
	color: #000000;
	text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}
.expenseDetailPurposeInputContainer {
	height: 35px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: -10px;
	background-color: white;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
	border-radius: 20px;
	padding-left: 10px;
	padding-right: 10px;
	border-width: 0px;
}
.expenseDetailPurposeInput {
	width: 100%;
	border-width: 0px;
}
.expenseDetailPurposeInputButton {
	border-width: 0px;
	background-color: white;
}
.expenseDetailPurposeInputIcon {
	width: 20px;
	height: 20px;
}
.expenseDetailAdmissionInfo {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	padding-left: 30px;
	padding-right: 30px;
}
.expenseDetailAdmissionInfoColoum {
	width: 33%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.expenseDetailDeleteButton {
	width: 30%;
	height: 40px;
	border-radius: 30px;
	border-width: 0.1px;
	border-color: rgb(162, 162, 162);
	background-color: red;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
	margin: 10px;
	margin-top: 50px;
	color: black;
}
.expenseDetailDeleteButton:hover {
	box-shadow: -2px -2px 6px rgba(0, 0, 0, 0.6);
}
.expenseDetailClassPickerContainer {
	width: 100%;
	height: 50px;
	align-items: center;
	display: flex;
	justify-content: end;
	padding-right: 50px;
}
.expenseDetailClassTitle {
	font-family: "Avera Libre";
	color: #000000;
	text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
	margin-top: 17px;
	margin-right: 5px;
}
.expenseDetailEditButton {
	border-width: 0px;
	background-color: white;
}
.expenseDetailEditButtonIcon {
	width: 20px;
	height: 20px;
}
